#stage {
    position: relative;
}

#player {
    position    : absolute;
    z-index     : 2;
    width       : 50px;
    height      : 50px;
    text-align  : center;
    /* This is going to change with a sprite */
    line-height : 4; /* Start facing down */
    color       :#FFF; 
    background  :#333; 
    outline     :1px solid #FFF;
}

#sword {
	width   : 25px;
	height  : 25px;
	top     : 0;
	left    : 0;
	position: absolute;
	outline : 1px solid #ddd;
}

.enemy {
    position    : absolute;
    width       : 50px;
    height      : 50px;
    background  : red;
}

.enemy.dead { background : black;}

/* Attacking logic */
.attacking #sword,
.attacking[moving="false"][facing="s"] #sword {
	top     : 50px;
	left    : 10px;
	width   : 25px;
	height  : 50px;
} /* again, default position = down */
.attacking[keydown-w="true"] #sword,
.attacking[moving="false"][facing="w"] #sword {
	top     : -50px;
	left    : 10px;
	width   : 25px;
	height  : 50px;
}
.attacking[keydown-a="true"] #sword,
.attacking[moving="false"][facing="a"] #sword {
	top     : 10px;
	left    : -50px;
	width   : 50px;
	height  : 25px;
} 
.attacking[keydown-d="true"] #sword,
.attacking[moving="false"][facing="d"] #sword {
	top     : 10px;
	left    : 50px;
	width   : 50px;
	height  : 25px;
}

/* Movement */
#player[keydown-w=true], 
#player[moving=false][facing='w'] 
{
    line-height: 1;
}

#player[keydown-a=true],
#player[moving=false][facing='a']
{
    text-align: left;
}

#player[keydown-s=true] 
{
    line-height: 4;
}

#player[keydown-d=true],
#player[moving=false][facing='d']
{
    text-align: right;
}

/* Attacking */
#player[keydown-j=true] {

}